services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d postgres"]
      interval: 1s
      timeout: 5s
      retries: 5

  app:
    build: .
    env_file: .env
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy

  locust:
    build:
      context: .
      dockerfile: Dockerfile.locust
    container_name: flask_locust
    ports:
      - "8888:8089"
    volumes:
      - ./locustfile.py:/locust/locustfile.py
    working_dir: /locust
    command: --host http://app:5000
    depends_on:
      - app

volumes:
  postgres_data:
